name: Github test
run-name: waltur
on: [push]
jobs:
  Explore-Github-Actions:
    runs-on: ubuntu-latest
    steps:
      - run: ls ${{ github.workspace }}/insecure
      - run: echo "test" 
      - run: npm audit ${{ github.workspace }}/insecure
      - run: npm run lint ${{ github.workspace }}/insecure
      
